$primary: #070707;
$primary-dark: #000000;
$primary-light: #363636;

$secondary: #51bd12;
$secondary-dark: #4ab10e;
$secondary-light: #5dcc1d;

$background: #ffffff;

$fonts: 'Just Me Again Down Here', -apple-system, BlinkMacSystemFont, 'Segoe UI',
	Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
