@use '../../styles/utils/include-media' as *;

.title {
	color: #000;
	margin: {
		top: 1.75rem;
		left: auto;
		right: auto;
		bottom: -4rem;
	}

	font-size: 8rem;
	text-align: center;

	@include media('<=tablet') {
		margin-top: 2.5rem;
		margin-bottom: -6rem;
		font-size: 6rem;
	}
}

.text {
	color: #000;
	width: 85%;
	margin: {
		top: 1.75rem;
		left: auto;
		right: auto;
		bottom: auto;
	}

	font-size: 4.8rem;
	text-align: left;

	@include media('<=tablet') {
		margin-top: 2.5rem;
		margin-bottom: -6rem;
		font-size: 3.2rem;
	}
}

.link {
	color: #000;
	text-decoration: none;
	background-image: linear-gradient(#fff, #fff),
		linear-gradient(#49b6b6, #49b6b6);
	background-size: 2rem 0.2rem, 100% 0.2rem, 0 0.2rem;
	background-position: calc(2rem * -1) 100%, 100% 90%, 0 100%;
	background-repeat: no-repeat;
	transition: background-size 0.3s linear, background-position 0.3s linear;

	&:hover {
		color: #49b6b6;
		background-size: 2rem 2rem, 0 0.2rem, 100% 0.2rem;
		background-position: calc(100% + 2rem) 100%, 100% 90%, 0 100%;
	}
}
